<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Notizie da Roma3</title>
    <link rel="stylesheet" href={{ url_for('static', filename='home/home.css' ) }}>
</head>

<body>
    <header>NOTIZIE DA ROMA3</header>
    {% for articolo in articoli%}
    <a href={{articolo.link}}>{{articolo.titolo}}</a>
    <p class="data">{{articolo.data.strftime("%d/%m/%Y")}}</p>
    <img src={{articolo.immagine}}>
    <p class="descrizione">{{articolo.descrizione}}</p>
    {% endfor %}
</body>

</html>